@import "tailwindcss";
@import "./tokens.css";
@import "./fonts.css";
@import "./reset.css";

html {
  font-family: var(--font-body);
  font-size: var(--text-body);
  color: var(--color-text-primary);
  background-color: var(--color-washi);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  color: var(--color-text-primary);
  background-color: var(--color-washi);
}
